.new-cost__controls {
  margin-bottom: 1rem;

  text-align: left;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.new-cost__control label {
  margin-bottom: 0.5rem;

  font-weight: bold;
  
  display: block;
}

.new-cost__control input {
  padding: 0.5rem;
  width: 20rem;
  max-width: 100%;

  font: inherit;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-cost__actions {
  text-align: left;
}
