.cost-date {
  width: 5.5rem;
  height: 5.5rem;

  color: #fefae1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border: 1px solid #ececec;
  border-radius: 12px;
  background-color: #2a5b84;
}

.cost-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.cost-date__year {
  font-size: 0.75rem;
}

.cost-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
